body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47a3da;
  background: #fff;
  /*  border: 2px solid red; */
  display: inline-block;
}

.container {
  width: auto;
  /*  border: 2px solid red; */
  display: inline-block;
}

.clearfix {
  /*  border: 2px solid red; */
  margin-left: 130px;
  font-size: 13pt;
  margin-top: 40px;
}

.clearfix span {
  font-size: 14pt;
  font-weight: 700;
  letter-spacing: 4px;
  display: block;
  text-transform: uppercase;
}

.clearfix h1 {
  display: inline-block;
}

nav {
  /*  border: 2px solid red; */
  float: right;
  margin-top: 30px;
  margin-right: 50px;
}

.main {
  padding: 0;
  border: none;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  display: inline-block;
  /*  border: 2px solid red; */
}

.main div {
  margin-left: 30px;
  display: inline-block;
}

.cbp_tmlabel {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  background: #6CBFEE;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 30px;
  width: 700px;
  height: 260px;
  font-size: 14pt;
  font-weight: 300;
  border-radius: 20px/20px;
  margin-bottom: 20px;
  /*  border: 2px solid red; */
}

li {
  display: block;
  float: right;
  /*  border: 2px solid brown; */
}

li:nth-child(even) .cbp_tmlabel {
  background: #3594CB;
}

ul {
  padding: 0;
  border: none;
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: inline-block;
  /*  border: 2px solid blue; */
}

.cbp_tmtimeline::before {
  border-left: 5px solid #afdcf8;
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 75%;
  content: '';
}

.cbp_tmicon {
  vertical-align: top;
  display: inline-block;
}

.cbp_tmtime {
  vertical-align: top;
  text-align: right;
  display: inline-block;
  /*  border: 2px solid red; */
}

.cbp_tmtime span:first-child {
  color: #BFD0DB;
  display: block;
}

.cbp_tmtime span:last-child {
  font-size: 30pt;
}
