@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");



header {
  width: 90%;
  margin: 0 10%;
  margin-top: 30px;
  color: #47a3da;
  height: 150px;
  padding-top: 30px;
  // padding-left: 40px;
  background: #fff;
  font-family: 'Lato', sans-serif;
  text-align: left;
  span {
    letter-spacing: 0.5em;
  }
}

section{
  width: 100%;
  margin-right: 0;
  div {
  // background-image: url("http://tympanus.net/Blueprints/ResponsiveFullWidthGrid/images/cat.jpg");


  float:left;
  width: 16.5%;
    a img {
      display: block;
      width: 100%;
      position: relative;
    }
  }

}
      h3 {
       display: none;
      }
// <div><a href="#"><img src="http://tympanus.net/Blueprints/ResponsiveFullWidthGrid/images/cat.jpg"></a><h3>Felis catus</h3></div>
  //  h3 {
  //    position: absolute;
  //    display: block;
  //    left: 0;
  //    top: 0;
  //    right: 0;
  //    bottom: 0;
  //    text-align: center;
  //  }
.hover {
  background-color:rgba(0,0,255,0.3);
}

// media-queries
@media(max-width: 1200px){
  div{
    width: 20%;
  }
}
@media(max-width: 900px){
  div{
    width: 25%;
    }
    header {
      text-align: center;
    }
}
@media(max-width: 650px){
  div{
    width: 33%;
  }
  header {
    text-align: center;
  }
}
@media(max-width: 400px){
  div{
    width: 50%;
  }
  header {
    text-align: center;
  }
}
@media(max-width: 300px){
  div{
    width: 100%;
  }
  header {
    text-align: center;
  }
}
