@import "grid";
@import "mobile";
@import "tablet";

header {
  width: 100%;
  margin-top: 30px;
  color: #47a3da;
  height: 150px;
  padding-top: 30px;
  padding-left: 60px;
}
main {
  width: 100%;
}

section{

}
div {
display:inline-block;
width: 16%
}
