@media screen and (min-width: 0px) and (orientation: landscape),
 @media screen and (max-width: 400px) {
  border: none;
  padding: 0;
  width: 90%;
}
/*
body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #fff;
    background: #47a3da;
}
}
 h1 {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 30pt;
  text-align:center;
  margin:auto;
}
body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #fff;
    background: #47a3da;
}
.clearfix h1 {
  font-family: inherit;
  font-size: 20pt;

}
header nav {
    float:left;
    text-align: center;
    display: block;
}
.bp-icon-prev:before {
    content: "\293d";
}
.bp-icon-next:before {
    content: "\293d";
}
.bp-icon-drop:before {
    content: "\2940";
}
.bp-icon-archive:before {
    content: "\29ec";
}
.bp-icon-prev:hover:after {
    content: "\293e";
}
.bp-icon-next:hover:after {
    content: "\293f";
}
.bp-icon-drop:hover:after {
    content: "\2941";
}
.bp-icon-archive:hover:after {
    content: "\29ed";
}
*/
.cbp-mc-column {
<<<<<<< HEAD
  margin-top: 30px;
  display: block;
  vertical-align: middle;
  width:80%;
  margin-left: 5%;
  margin-right: 5%;

=======
    width: 250px;
    height: 215px;
    position:relative;
    clear:both;
    margin-top: 20px;
    margin-left: 75px;
>>>>>>> 283b9d6d75b32bb833f28fefe8be8485064bf86d
}
/*
.main {
  max-width:350;
  height:auto;
  margin:auto;
  float:center;
}
#first_name, #last_name, #email {
  width: 250px;
  height: 30px;
}
#country {
  width: 250px;
  height: 30px;
}
#bio {
  width: 250px;
  height: 100px;
}
#phone {
  width: 250px;
  height: 30px;
}
#affiliations {
  width: 250px;
  height: 100px;
}
#occupation {
  width: 250px;
  height: 30px;
}
#cat_name {
  width: 250px;
  height: 30px;
}
#gagdet {
  width: 250px;
  height: 30px;
}
#talent {
  width: 250px;
  height: 30px;
}
#drink {
  width: 250px;
  height: 30px;
}
#power {
  width: 250px;
  height: 30px;
}
#comments {
  width: 250px;
  height: 30px;
}
#drink {
  width: 250px;
  height: 100px;
} */
