body {

  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #fff;
  background: #47a3da;

}
section {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
/*  border: 1px red solid; */
  margin-top: 50px;
}
.column {
  width: 30%;
  display:inline-block;
  margin-top: 20px;
/*  border: 1px red solid; */
  padding: 10px;
  vertical-align: top;
  text-align: left;
}
label {
  display:block;
}
select {
  display:block;
}
textarea {
  display:block;
}

.input {
  text-align: center;
}

/*
#first_name, #last_name, #email, #country, #bio, #phone, #affiliations, #occupation, #cat_name, #gagdet, #power, #drink, #talent, #comments, #weapon, .cbp-mc-submit {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 18px;
    font-size: 12pt;
    padding:0;
    color: #fff;
    border: 3px solid #fff;
    background: transparent;
*/
