@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");

@import "grid";
@import "mobile";
@import 'tablet';

body {
  background: #fff;
}
.main-header {
  height: 130px;
  color: #47a3da;
  padding: 20px;
  font-family: 'Lato', sans-serif;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  color: #47a3da;
  height: 120px;
  text-align: left;
  display: block;
  span {
    letter-spacing: 0.5em;
  }
}

.sliders {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  height: 50px;
  background-color: #47a3da;
  padding-top: 18px;
  font-size: 14pt;
  .sliders::before{
    content: "fa fa-sort-desc";
  }
  a {
   color: #fff;
   float: left;
   display: block;
   width: 18%;
   margin-left: 5px;
   margin-right: 5px;
  }
  a:hover {
    color: #02639d;
  }
}

section {
  display: none;
}
section.active {
  display: block;

}
div {
  width:16.5vw;
  float: left;
  border-right: 1px solid lightgrey;
  display: block;
  color: #a2a2a2;
  text-align: center;
  img:hover {
  opacity: 0.5;
}
}
#fine{
  float: none;
  margin-left: 30%
}
#lovely {
  text-align: center;
}

// media-queries
@media(max-width: 864px){
  a {
    display: block;
  }
  div{
    width: 33%;
  }
  .main-header {
    text-align: center;
  }
}
@media(max-width: 580px){
  a {
    display: block;
  }
  div{
    width: 48%;
  }
  .main-header {
    text-align: center;
  }
}

@media(max-width: 500px){
  a {
    display: block;
  }
  div{
    width: 100%;
  }
  .main-header {
    text-align: center;
  }
}
