.container {
  width:100%;
  border: 2px solid red;
  display: inline-block;
}
.clearfix {
  border: 2px solid blue;
  color: #3594CB;
  margin-left: 130px;
  font-size: 13pt;
  margin-top: 40px;
   span {
    font-size: 14pt;
    font-weight: 700;
    letter-spacing: 4px;
    display: block;
    text-transform: uppercase;
   }
      h1 {
       display:inline-block;
      }
}
nav {
  border: 2px solid yellow;
  float: right;
  margin-top: 0px;
  margin-right: 50px;
}
nav span {
    color: #3594CB;
}
.main {
  padding: 0;
  color: #3594CB;
  font-size: 12pt;
  border: none;
  width: 100%;
  height: auto;
  margin:0 auto;
  display: inline-block;
  border: 2px solid purple;
}
.cbp-vm-options {
  width:5%;
  border: 4px solid pink;
  display: block;
  float: right;
  margin-right: 20px;
}
ul {
  padding: 0;
  border: none;
  width: 80%;
  height: auto;
  margin:0 auto;
  margin-left: 10%;
  margin-right: 10%;
  display: inline-block;
  border: 5px solid #3594CB;
}
li {
  padding: 0;
  border: none;
  width: 31%;
  height: auto;
  margin:0 auto;
  display: inline-block;
  border: 1px solid brown;
  text-align: center;
  vertical-align: top;
  margin-left: 1%;

  li > h3 {
    color: #3594CB;
    font-size: 16pt;
    font-weight: 600;
  }
}


/*
row {
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 0;
  width: 80%;
  height: auto;
}

row > column {
  width:
} */
